/* You can add global styles to this file, and also import other style files */

/*@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';*/
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
    margin: 0px;
    background-color: rgb(238, 238, 238);
}

.main-content {
    width: 900px;
    margin: auto;
}

.spacer {
    flex: 1 1 auto;
}
